@import url('https://fonts.googleapis.com/css2?family=Borel&family=Outfit:wght@100..900&family=Zen+Dots&display=swap');

.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 0 auto; /* centra el contenedor respecto de su padre, en este caso es el body*/

    gap: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;

    background-color: rgb(193, 155, 202);
}

h2{
    font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.visorSuperior {
    display: flex;
    flex-direction: row;
    /*padding: 10px;*/
    gap: 10px;

}

.inputVisor {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
     border-radius: 10px;
}

.boton {
    color: white;
    font-family: "outfit", sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

.boton:hover {

    transform: scale(1.05)
}

.operacionesSimples .boton {
    color: white;
    font-family: "outfit", sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    width: 50px;
}

.visorInferior {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
     border-radius: 10px;
}

.redondeo .boton{
    color: white;
    font-family: "outfit", sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    
    margin-bottom: 15px;
    
    

}