
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Outfit:wght@100..900&family=Zen+Dots&display=swap');

.tp3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cuestionario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px;
    border-radius: 10px;
}

.pregunta{
    font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.respuesta{
display: flex;
}

.boton{
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    gap: 10px;
     font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}